mixed-port: 7890
allow-lan: true
mode: rule
log-level: info

proxy-providers:
  black:
    type: http
    url: https://raw.githubusercontent.com/vfc11lork/home/main/BLACK_VLESS_RUS.txt
    interval: 3600
    health-check:
      enable: true
      url: http://www.gstatic.com/generate_204
      interval: 300

proxy-groups:
  - name: BLACK
    type: select
    use:
      - black

rules:
  - MATCH,BLACK
